



.black-bg{
	background-color: #424a5d;
}

.nav-collapse{
	width: 10%;
	background-color: #424a5d;
}

.logout{
	background-color: #9c4c9d;
	color:white;
	border-radius: 8px;
	top:10px;
}

.boton{
	background-color: #9c4c9d;
	color: white;
}

.ca{
	background-color: #9c4c9d;
	color:white;
}

